[2014-08-25 12:17] dohomi opened #1 "Router.go("myroute") does not work as expected"
Hello,

I tried your package out for the first time. All my routes seem to work as expected, but there is one problem for now: if I switch my language to another language, all my Routes still show the URL without the de/ en/ directory.

[code]

Now I press history back in my browser, the route shows the current language directory:

[code]

Any idea how to solve this issue? Thanks Dominic

[2014-09-04 17:22] TimoRuetten opened #2 "IronRouter Error: Uncaught Error: There are multiple templates named '__IronDefaultLayout__'. Each template needs a unique name."
This error:

[code]

appears client side when enabling your package. This is not the only Error (There are 116 errors) but its the very first. After this a lot "Template is not defined" and other errors appear.

Before I added your package to my project I added https://atmospherejs.com/tap/i18n and enabled it.

This is my Router configuration (the end of):

[code]

Edit:
When removing your package

[2014-09-06 23:26] #2 closed, assigned to nobody

[2014-09-19 08:41] #1 closed, assigned to nobody

[2014-09-19 11:53] dohomi opened #3 "Redirects calls notFoundTemplate on 0.2.0"
Hello,
I upgraded this package to 0.2.0 but since now all routes doesn't work anymore, only the pageNotFound template being rendered. Any idea what could be possibly wrong? I just took the smallest amount of configuration:

[code]

The route shows correctly the path with my languageKey but the route doesn't work as expected.

[2014-09-19 15:54] frozeman opened #4 "Add hook to set default language"
I would like to have a way to get the default language. Like hook or something. This way I could figure out the default language by looking at the user agent.

currently its setting default to 'en', though when i use the follwoing scenario, i doesn't rewrite the url:

[code]

[2014-09-20 08:16] #3 closed, assigned to nobody

[2014-09-22 13:44] frozeman opened #5 "The new version of the package seems to break iron:router"
None of my routes are working, expect when i remove your package.

[2014-09-23 12:44] #5 closed, assigned to nobody

[2014-09-24 17:49] dohomi opened #6 "Router.go with hash options seems to be broken with i18n package"
Hi again,
the i18n package seems to break the hash option from iron-router:

[code]

This results into following error:

[code]

Cheers Dominic

[2014-09-24 22:47] #6 closed, assigned to nobody

[2014-09-25 08:14] dohomi opened #7 "Meteor.absoluteUrl won't work out of the box"
Hello,
a minor issue but worth noting inside the docs or if you have any fix for it:
Meteor.absoluteUrl from docs.meteor:

[code]

If I use i18n it leads to a leading "/":

[code]

Cheers Dominic

[2014-09-25 21:43] #7 closed, assigned to nobody

[2014-09-29 11:27] LarsBuur opened #8 "Feedback"
Hi - just a head up. I have been working with your package and kept getting:

Router config options i18n.languages is compulsory
Can't retrieve current language: missing Router.options.i18n.getLanguage function.

in the server console.

It turns out that my router was only defined on the client. The problem was resolved moving my router to til /lib folder. I am wondering why the router needs to be

[2014-10-05 16:58] #8 closed, assigned to nobody

[2014-10-07 09:55] LarsBuur opened #9 "How would I ignore a path like /admin"
I am using the houston admin package but i18n routes interferes with the routes in the package. I could probably  hack the prefixes that the houston package uses - but somehow this does not feel like the right solution.

I have tried looking into the rewritePath method - but it is not clear what I need to do to accomplice my task.

Any suggestions?

[2014-10-07 11:02] #9 closed, assigned to nobody

[2014-10-12 22:08] #4 closed, assigned to nobody

[2014-10-14 14:58] dohomi opened #10 "compatibility with 0.9.4"
Hello,

I could get my app up and running with your package and meteor 0.9.4:

[code]

Cheers,
Dominic

[2014-10-16 07:36] zimt28 opened #11 "Default language"
First I wanted to tell you that this project is really, really great!

My question: How can I set my default language? This is what I tried. It works locally, but not on my server /:

[code]

Thanks :)

[2014-10-16 09:27] zimt28 opened #12 "i18n template"
This code comes from the readme:

[code]

When no template is defined (like for es), iron-router-i18n seems to look for a template AboutEs. In most cases I'd rather use the default template, and just change the url. So it would be nice, if would default to the normal template instead of language-specific one.

[2014-10-16 11:49] #12 closed, assigned to nobody

[2014-10-16 14:52] zimt28 opened #13 "Check if language has been set"
Next problem. I'm using [html2pdf.it](http://www.html2pdf.it) to generate pdfs in two languages. Translating text works fine, but I also want to show an image, depending on the language.

The image is set as a background on a div, and is set to /images/image-de.png in the css file.
When the user opens the English version, I want to show /images/image-en.png.

This is what I'm using:

[code]

When

[2014-10-16 22:09] #13 closed, assigned to nobody

[2014-10-17 06:55] dohomi opened #15 "missingLangCodeAction and getDefaultLanguage might could do the same"
Hey,
I just try to understand where I should place logic for an initial default language based on `Meteor.users` language or browser locale. You provide two hooks, `missingLangCodeAction` and `getDefaultLanguage`. Isn't the first somehow obsolete because I rather should place my logic into `getDefaultLanguage` and if I would like to change the pattern I would call `langCodeAction`? It confuses me

[2014-10-21 09:03] #11 closed, assigned to nobody

[2014-10-21 09:04] #15 closed, assigned to nobody

[2014-10-21 10:04] #10 closed, assigned to nobody

[2014-10-21 10:13] martinopic opened #16 "Manage transparently routes added by packages"
Currently if you need to add a Route in a package you'll have to wrap it in a `Meteor.startup` script (see https://github.com/yoolab/iron-router-i18n/issues/10)

`packages/route-b-package`

[code]

This can probably be avoided by moving the i18n route login in a startup script...

[2014-10-21 11:44] #16 closed, assigned to martinopic

[2014-10-22 21:25] dohomi opened #17 "error while using autoConfLanguage: true"
Hey,

I tried the new 0.4.2 package without any specific configuration with autoConfLanguage. But it throws immediately an error if I try to start it:

[code]

I guess it seems because the `Router.config`is placed inside of the lib/ folder.

[2014-10-22 22:34] dohomi opened #18 "hardcoded paths not jumping into missingLangCodeAction"
Hi,

I wrote a tiny tool where I placed some hardcoded links inside, something like `<a href='/login'>Login</a>`. While click on `Login`the page login is shown, without the language param, and the `missingLangCodeAction`is not getting called. With `historyBack()`the browser jumps into `/lang/login`. Is this a bug? It feels familiar to me, didn't you had a fix for this already?

[code]

[2014-10-23 13:22] #18 closed, assigned to nobody

[2014-10-23 13:33] #17 closed, assigned to nobody

[2014-10-30 17:42] dohomi opened #19 "compatibility with iron-router 1.0"
Hello @martinopic
is the 0.4.3 version already compatible with iron-router 1.0? Just read about it yesterday and wanted to ask first before I bump in too many issues. Feel free to use the previous test package for some tests. Cheers

[2014-10-31 17:16] cedricmay opened #20 "Root url on search engines with spiderable package"
We use `iron-router-i18n` on http://www.teamgridapp.com/ and we redirect automatically to the german (http://www.teamgridapp.com/de/) or english (http://www.teamgridapp.com/en/) url.

Unfortunately the Google bot still spiders the root url, without any redirect to the default language url.

![Google Index](https://cloud.githubusercontent.com/assets/793145/4865060/4f216184-6121-11e4-9e62-e1b60d4e1e

[2014-11-18 23:40] dshaw002 opened #21 "Change documentation to be accurate"
Had an issue with setLanguage function example, until I fished through Tapi18n and realized that setLanguage was client only. Then I checked another issue and realized that you need to set Meteor.isClient() in setLanguage function. The documentation isn't correct, and I wasted about 2 hours trying to find a simple solution.

So, could you switch this text:

        setLanguage: function(lang) {

[2014-12-02 08:05] zimt28 opened #22 "Can't deploy to Server"
When I run my app locally, everything works fine. When deploying to a server, I only get a blank screen.
It did already work, I don't think I've changed something on the routing stuff .. It might because of the package versions, I think it did work with versions around 0.3.2.

I'd like to try if 0.3.2 works on the server but `meteor add martino:iron-router-i18n@0.3.2` still adds 0.4.3:

[code]

Wi

[2014-12-02 15:31] #22 closed, assigned to nobody

[2015-01-06 10:55] dohomi commented on #19
Hello @martinopic do you have any news on this? Happy New Year :rocket:

[2015-01-06 11:04] LarsBuur commented on #19
I will happily try to assist in testing / debugging the 1.0 package. It is currently not a must have for me - but a nice to have. Happy new year!

[2015-01-12 15:19] Kestanous opened #23 "iron:router v1 support eta?"
Just curious if you are still working on this project and if so when you think 0.5 will land?

[2015-01-14 20:54] zimt28 commented on #23
Yes, I'd need support for iron router 1 as well :)

[2015-01-14 21:24] zimt28 commented on #19
Need this as well for other dependencies /:

[2015-01-15 07:12] martinopic commented on #19
I'm really sorry for the delay on keeping up with this I hoped to work on it during Christmas time but couldn't. I'll start to work on it next week and hope to have it completed in a couple of weeks, I'll keep you updated here (and on the codebase) and put a ote on the README.

[2015-01-15 07:12] martinopic commented on #23
See #19

[2015-01-15 07:12] #23 closed

[2015-01-15 07:13] #20 closed

[2015-01-15 07:13] #21 closed

[2015-01-15 07:33] zimt28 commented on #19
Thank you for working on this :)

[2015-01-15 07:36] zimt28 opened #24 "Use admin packages/ Ignore route"
I just tried some different packages that give me an admin interface for my app, `orionjs:core` and `houston:admin`. Both of them give me an `/admin` route to see the backend. However, I always get redirected to `/de/admin` and the interfaces won't show up. Is there a way I can ignore the `/admin` route to use these packages?

[2015-01-18 14:05] txs commented on #19
Really need this package! Excited about it!

[2015-02-06 08:23] martinopic commented on #19
Hi everybody,

I've just pushed a 0.5.x branch which contains a first version compatible with iron:router 1.0. This version pass all previous client side tests (test system has also been improved) excluding template name resolution tests. No server side functionality is still in place.

I have just tested it with automatic tests, any feedback on "real" systems will be welcome as any other useful c

[2015-02-06 10:46] martinopic commented on #19
With las commit on 0.5.x almost all client tests are passing (including template name resolution), just missing redirect on missing lang code testing and server side functionality. And real world system test obviously.

[2015-02-10 07:42] dohomi commented on #19
Hi @martinopic nice that you got some time to work on this, I appreciate it. For now I checked out the branch and started with updating my whole app. As its quite grown up I think its gonna be a little workout..

I moved all my routes to the lib folder making them accassible for client and server. I'm getting plenty of: Oops, looks like there's no route on the client or the server for url:

And pl

[2015-02-10 09:08] martinopic commented on #19
Hi @dohomi, the second issue you mention should be solved with last commit. There is still a big issue which is probably causing the missing route problem, should be the last one and not that hard to fix. It would be useful if you could paste me here a small excerpt of the not working conf (e.g. some route not found but actually configured).

[2015-02-10 23:01] martinopic commented on #19
All tests passing (I've added some more), all features there (plus some new one) and configuration/behaviour almost identical to version 0.4.x and supporting new Iron Router 1.0.x configuration methods. I had to change/remove some configuration stuff (will be documented).

Almost ready to release (I'd really like some feedback before releasing).

[2015-02-11 02:10] dohomi commented on #19
Hi @martinopic I tried the current commits. I still receive the
[code]
And following error:
[code]

[2015-02-11 08:51] martinopic commented on #19
@dohomi for the first issue I need your configuration (at least the basic non working part).

As for the second issue if you were using the "old" syntax (`{{pathFor route="myRoute"}}`) I fixed that with the last commit, otherwise it just seems a non existing route name.

Thanks for your feedback!

[2015-02-11 10:17] martinopic commented on #24
Sorry I missed this ticket. In order to ignore redirect on specific routes you can just override default `missingLangCodeAction` method in configuration. E.g.

[code]

[2015-02-11 10:47] dohomi commented on #19
hi @martinopic what do you mean with "old" syntax? ```pathFor route="myRoute"``` is not the current syntax? https://github.com/EventedMind/iron-router/blob/devel/Guide.md#pathfor

[code]

This is my current configuration

[2015-02-11 11:01] martinopic commented on #19
You are right @dohomi I was using the old conf :-) in any case now both work for the helpers.

As for the other problem:

1) What's in `TP.Const.AllowedLangKey` ?
2) Can I have the login (or any failing) route configuration?

[2015-02-11 11:04] zimt28 commented on #24
Cool, works great :) Thanks!

[2015-02-11 11:04] #24 closed

[2015-02-12 00:51] dohomi commented on #19
Hi @martinopic,
Sorry here the missing configuration:
[code]

Do you know if the old style ```Router.map(function(){this.route( ... )}```is still valid?

[2015-02-12 11:06] martinopic commented on #19
Hi @dohomi , this is really an edge case: you are passing the path through the route name (new configuration) AND through the path option, kind of redundant but this was the reason it was failing. I've fixed the code (and added tests) to handle also this edge case and added tests for legacy `Router.map` configuration (which works ;-) ). Thanks for the feedback!

I've added a basic example app in `

[2015-02-12 11:39] dohomi commented on #19
Hey @martinopic actually for me is the whole upgrade from iron:router 1.x somehow not really clear what actually was changing. The docs are not very specific, I was always writing Router.map(...), so I just played around with all values actually :)

I receive now a ``` Route dispatch never rendered. Did you forget to call this.next() in an onBeforeAction?```message, so I need to fix that first. Da

[2015-02-12 11:40] dohomi commented on #19
I have the feeling that currently your package works fine, I need to check all my iron router hooks first

[2015-02-12 15:54] dohomi commented on #19
Hi @martinopic I rewrote lot of code. I don't receive any error messages anymore beside the big fat:
[code]
Even the page is getting rendered correctly, but there seems still a problem with the config. Here my adjusted config:
[code]

[2015-02-12 17:23] dohomi commented on #19
Hi @martinopic

I adjusted now all my routes for the new 1. of ```iron:router```. Without this package every route worked as expected.

Now, as soon I activate this package the ```__IronRouterNoRoutes__```is getting rendered above my whole app. I don't receive any other errors, but I'm getting the message of no routes found. But my 2 routes, login and home are linked correctly and rendered correct

[2015-02-13 01:43] dohomi commented on #19
Hello,

I tried to testrun the ```Tinytest```with the ```meteor test-packages martino:iron-router-i18n``` command. All test seems to be fine, but on the bottom of the page ```iron:router```renders the ```__IronRouterNoRoutes__``` template on the bottom of the page.

It seems that all routes of iron:router looses all routes and also doesn't find the notFoundTemplate:

[code]
The website renders but

[2015-02-13 08:18] martinopic commented on #19
Hi @dohomi thanks a lot for your feedback and testing I spotted a major problem in the router startup which is causing this, working on it.

[2015-02-13 08:41] martinopic commented on #19
@dohomi can you test now? It should be fixed.

[2015-02-13 10:39] dohomi commented on #19
@martinopic yes I just did :+1: perfect man thanks! All my previous errors are gone, still I couldn't test everything. Will drop you a note if I bump into any issue with it.

Where would you define defaultLanguage now based on a Meteor.users().languageKey property? Where would be the best location for it?

Cheers and thanks for the effort!

[2015-02-13 11:17] dohomi commented on #19
And additional: is there any good replacement for this kind of route:
[code]
I had this in different context very often and its quite tiring introducing a template helper for the ```pathFor```helper setting the data context..

Cheers

[2015-02-14 00:58] martinopic commented on #19
Hi @dohomi , I would not define defaultLanguage based on a user languageKey: defaultLanguage is intended to be a fallback when there is not a hint about the user language (which I think is exactly what your "languageKey" is doing). I'd rather use "languageKey" in getLanguage function configuration to get current user language or in a startup block using setLanguage to set the current user language

[2015-02-15 14:58] martinopic commented on #19
I close this issue as 0.5 version is mature enough not to need "general testing". I'll probably release tomorrow or on tuesday. Please open specific issues for anything else. Thanks for the feedback!

[2015-02-15 14:58] #19 closed

[2015-02-16 07:26] dohomi opened #26 "using getLanguage() for Meteor.user().getLanguage attribute"
Hi @martinopic

I just tried the approach using following syntax on the newest 0.5.x version:

[code]

But this results into an endless loop if I use several ```Router.go()```.
Any idea on this?

Cheers

[2015-02-16 08:11] dohomi commented on #26
I tried a lot but couldn't set the language through any function, tried in layout templates with ```Router.setLanguage()``` and tried with the ```getLanguage()``` function above. The problem is, that if I have 'de' as user language and route through a ```Router.go('dashboard')``` the routing fails completely, because my browser language is 'en' and the ```depend()```falls back to the previous rout

[2015-02-16 13:44] dohomi commented on #26
Here is a small reproduction application, i looks like Router.go does not take the current language into account

[2015-02-16 13:46] martinopic commented on #26
"here" where? :-)

[2015-02-16 13:47] dohomi commented on #26
sorry little browser issue here :)

[2015-02-16 13:49] dohomi commented on #26
So we stumbled into major issue while trying to use ```Router.go()```, it always falls back to default /en, and though we ran into reactiveVar issue and endless looping between get and set language.

[2015-02-16 13:52] martinopic commented on #26
thanks alot @dohomi I'll look into it today.

[2015-02-16 13:56] dohomi commented on #26
Thanks just drop me a message if I could do some testing.

[2015-02-17 01:06] dohomi opened #27 "iron-router-i18n is not working with iron-router-active"
Hi,
iron router breaks functionality with iron-router-active. I tried several ways with including iron-router-i18n before iron-router-active, but without success. The link is here reported as well, but I guess that package can't change anything about this issue: https://github.com/zimme/meteor-iron-router-active/issues/13

I tried to update iron-router-active with a weak dependency on iron-router-

[2015-02-17 18:08] martinopic commented on #26
Ok, I understand the problem: the fact is that basically you are calling ```Router.go('something')``` and you expect I18NRouter to route you as if it was ```Router.go('de.something')``` if current language is "de" while I18NRouter is behaving as if you called the "default" route (which in this case is an "en" route).

This was actually made on purpose but your case made me think and I now believe

[2015-02-17 18:09] #26 closed

[2015-02-18 07:43] dohomi opened #28 "Router is forwading to getLanguage() even I sent the /en or /de param"
Hi @martinopic

I bump into an issue, where I want to open a link which is published somewhere:

/en/db/my-exercise

In ```getLanguage()``` I set the language based on the ```Meteor.users().languageKey``` or based on the browser. Now the plugin seems to force setting ```/de/db/my-exercise``` which is non-existent and the ```page_404``` template is getting rendered.

This wasn't the same behaviour

[2015-02-18 23:05] martinopic opened #29 "ENOENT error on"
Can't publish the package with npm dependency enabled if npm dependency is enabled in package.js I receive this error:

[code]

[2015-02-18 23:07] martinopic commented on #28
I'm having serious problems publishing the entire package so I had to comment some code, see #29 not sure if this is related (I might have messed up some code trying to overstep the problem but still: all tests are passing).

[2015-02-18 23:24] dohomi commented on #29
Hi @martinopic I checked out your package with the 0.5.x branch. not sure where you receive this error?

[2015-02-18 23:57] martinopic commented on #29
Just a stupid error in my package.js, fixed with 0.5.1, sorry I needed to figure out this before going ahead with other issues.

[2015-02-18 23:57] #29 closed

[2015-02-19 00:03] martinopic commented on #28
Ok, fixed #29, it had nothing to specifically do with this but there was a mess with the published 0.5.0 version code (I thought meteor tool had a way to unpublish a release I had published just to test meteor publish itself :-) )

I think you are referring to the same problem reported before in #26 right? I'll look into that but note that 0.5.x is no longer used, after the release I'm using maste

[2015-02-19 00:10] dohomi commented on #28
I just updated my source code of https://github.com/dohomi/i18napp. There is now a user login and a user ```testuser@example.com```and password ```123123```. This user is has languageKey ```de```but default language is ```en```.

Mow you can see misbehaviour and endless routing in some point. And if you post /en/foo to a user it also bumps into some issue.

Not sure how to solve this, but I think

[2015-02-19 00:38] martinopic commented on #28
The problem is in your app ```getLanguage``` configuration: this is intended to be read as "get the router language" while your code now always return the user language. As the user language is "de" the router language for this user will always be "de". Given the ```setLanguage``` you have you sample app should just be

[code]

As it actually was before.

I'd just use the user account langKey just

[2015-02-19 01:44] dohomi commented on #28
I try to get anything better to run than calling ```Router.setLanguage()``` inside a ```Template.foo.rendered``` helper to get this done. In my opinion there is a function missing like ```getInitLanguage()``` where I could paste in some logic for user based language which is not getting called after ```Router.setLanguage()```.

Otherwise I will stick to my previous handling and paste the ```Router

[2015-02-19 01:58] dohomi commented on #28
Sorry I missed my very first idea:

Currently on page reload "setLanguage()" is not getting called. Only on user handling. So your current example with
[code]
Is only setting the language on user interaction. But where do I have to paste the code to set my language for ```TAPi18n.setLanguage()```that the page content would be initially set on page loading?

[2015-02-19 07:59] martinopic commented on #28
The code you put now in ```getLanguage``` is totally unnecessary: iron router i18n will automatically switch language (i.e. call ```Router.setLanguage``` which also call YOUR overridden ```setLanguage``` if any).

why not using a simple

[code]

If the user is not logged ```getLanguage``` would just return default language (otherwise you can handle this case in startup too.

[2015-02-19 08:04] dohomi commented on #28
Isn't Meteor.startup only getting called once if I'm not mistaken? So what if a user logs out and in again?

[2015-02-19 08:18] martinopic commented on #28
If a user logs in/logs out you should handle that specific event:

[code]
I wouldn't handle log out, it makes sense leaving the logged out user language.

[2015-02-19 08:23] dohomi commented on #28
Ok I'm doing it similar:
[code]

[2015-02-19 08:28] dohomi commented on #28
But still I think it would be convenient if the last
[code]
should be handled by this package. Otherwise the language package is on page reload never updated with the current language. I will close this issue now because I think it works (beside the PR from Max) quite stable.

[2015-02-19 08:28] #28 closed

[2015-02-19 08:43] martinopic commented on #28
I don't exactly see how the package could abstractly manage this thing: it seems something related to how you handle language inside your project, that is why is given a possibility to configure additional ```setLanguage```/```getLanguage``` behaviours. Please clarify me if I get anything wrong.

[2015-02-19 08:50] martinopic opened #32 "How to enhance Iron Router and relate to other Iron Router modules"
It seems that there is some problem with the mechanism through which the package replace "Router" with I18NRouter: the old "Router" is in fact left around and used in some closures defined before Iron Router i18n is able to override it. This is might also be due to the fact that Iron Router package instantiate the Router object itself.

This might give problems with other existing Iron Router pack

[2015-02-19 12:25] dohomi commented on #28
You have an example of
[code]
inside of your ```Readme```. So I guess users would think if they set this every user would see their language in their browser specific language by default. But they only would see it if they have registered an
[code]
Correct me if I'm wrong. I just thought in the beginning that ```setLanguage```would take care of my ```TAPi18n```language handling from the beginning.

[2015-02-20 00:32] dohomi opened #33 "Core behaviour of 'only' and 'except' not working in translated routes"
Hi @martinopic

I realized that the behaviour of ```iron:router```with only or except is not working in Router hooks:
[code]
In defaut /en/dashboard the hook works, but in /de/dashboard the hook is not called. Is any further setup required to make this work? I have this behaviour on all routes inside my ```only```array.

In the old ```iron:router```0.9.4 and the 0.4.3 version this behaviour wasn't

[2015-02-20 01:00] dohomi commented on #33
I just looked into the output of ```this.route.getName()```and for ```/en```or ```default```it is ```dashboard```but for ```/de```it is: ```de.dashboard```.

Should I add into all my hooks the language param? Cheers

[2015-02-20 01:44] mxab commented on #33
hi @martinopic , not sure if this is the correct way but it works if I override the ```getName```

[code]

[2015-02-20 01:59] mxab commented on #33
the other idea would be to override the ```RouteController.prototype._collectHooks``` and use also the defaultRoute at https://github.com/iron-meteor/iron-router/blob/3b7be95d48d45e46ccd9843784235d1ec7faa399/lib/route_controller.js#L138

[2015-02-20 11:04] martinopic commented on #27
The module was not working with Iron Router i18N because it was using the Router created by Iron Router instead of the Router created by Iron Router i18n. It's a common problem, more on this on #32 .

Now it works but as i18n routes have a different name (usually based on path) from the default route sometime the behaviour is not the expected one (e.g. in the example page two route is called "two"

[2015-02-20 11:41] martinopic commented on #33
This problem I guess it's (and will be) common also to other behaviors of core and other iron router modules, see for example my last comment on #27 . It makes sense to override getName but I'd still like to give the access to the real internal name (two routes can't have the same name internally)

For time being I've just done the override, let me know if it works.

[2015-02-20 12:06] martinopic commented on #27
It must be noted that in order to work with iron-router-active iron-router-i18n must added/loaded BEFORE iron-router-active.

[2015-02-20 15:33] zimme commented on #32
How about extending Router instead of replacing it completely?

[2015-02-20 16:17] martinopic commented on #32
That was my previous approach with 0.4.x (that is not iron router 1.0 compatible). It makes testing more difficult and, in my opinion, is less "clean" but I'm considering it. Thanks.

[2015-02-21 12:39] andreivolt opened #34 "DynamicTemplate not declared"
I was having issues with DynamicTemplate not being declared. Perhaps you have DynamicTemplate in your package namespace in your setup ? Anyway, I fixed it in my fork. Thanks for a very helpful package!

[2015-02-21 16:13] jeffrico opened #36 "Weird behavior using setLanguage"
Hi there,

I'm very new to meteor and javascript coding in general, so please forgive my ignorance.

I am trying to use this package using meteor version 1.0.3.1
Routes are configured as followed as

[code]

In the event (a dropdown) is defined as followed:

[code]

The code provided above redirects to the selected language properly.
Removing the alert, replacing by a console log, shows the langua

[2015-02-21 16:27] #36 closed

[2015-02-21 18:33] martinopic commented on #34
Pull request merged, thanks @andreivolt .

[2015-02-21 18:33] #34 closed

[2015-02-21 22:45] andreivolt commented on #34
cool, you're welcome!

[2015-02-22 18:27] martinopic commented on #32
Finally I decided for an approach taking both ways: extending the Route main object (so to play better with other iron router modules and follow Iron Router main object strategy) AND extending Iron.Router.prototype so to ease testing and follow the same Iron Router prototypal inheritance system.

[2015-02-22 18:28] martinopic commented on #27
After 51ce8d097236e393177a353b5087417eeff132c9 (see #32 ) there is not need to add/load iron-router-i18n before iron-router-active.

[2015-02-22 18:28] #27 closed

[2015-02-23 13:18] #33 closed

[2015-02-23 13:18] #32 closed

[2015-02-23 13:40] martinopic opened #37 "Make iron router i18n retain user language between page reloads"
This can be already achieved by using some sort of storage (whether user sessions or client side cookies) and ```getLanguage```/```setLanguage``` overrides but it would be nice to offer the basic functionality that everybody is going to need out of the box.

[2015-02-24 10:22] martinopic opened #38 "Include a method returning whether the language code was missing on initial request"
It is useful for some logged users edge cases to know whether the initial route with which the app was called had the lang code in it or not, as default ```missingLangCodeAction``` can cause a redirect in these cases this information is lost on redirect.

See initial (misunderstood) request at https://github.com/yoolab/iron-router-i18n/pull/30

[2015-02-24 10:28] martinopic opened #39 "Allow to exclude route/paths from iron router i18n"
It could be useful to exclude certain path patterns/routes from being handled by Iron Router i18n (admin backends, xml sitemaps etc.).

[2015-02-27 09:51] #39 closed

[2015-02-27 12:43] #38 closed

[2015-03-02 09:01] martinopic opened #40 "Give the possibility to remove language code for default language"
Some prefer not to use the language code in url for the default language, e.g. if the default language is "en" using ```/about``` (and not ```/en/about```) for english while using ```/es/about``` for spanish, ```/de/about``` for german etc.

[2015-03-10 11:41] martinopic opened #42 "client side autoConfLanguage does not manage correctly country codes"
See https://github.com/yoolab/iron-router-i18n/pull/41

[2015-03-10 11:43] martinopic commented on #37
I think the only thing needed here is a simple persistence mechanism (default cookie but overridable) in ```setLanguage/getLanguage``` implementation.

[2015-03-15 10:49] mininao commented on #40
:+1:

[2015-03-17 22:58] #40 closed

[2015-03-17 23:22] #42 closed

[2015-03-19 00:17] mininao commented on #40
Thanks !

[2015-03-25 10:54] y-ich opened #43 "Browser's back button does not work."

[2015-03-26 18:19] catsoft commented on #43
+1. If there is a query after path like ?someField=something back button works..

[2015-03-26 18:30] catsoft opened #44 "always set default language when deploy to server"
Something wrong but I could not solve it.Everything works fine as expected in my development machine but when deploy it to server "autoConfLanguage" not working. Am I missing something..

[2015-03-26 18:37] martinopic commented on #44
have you tried to see if it's a client side or server side problem? try to disable autoConfLanguage server or client side on development and server (should work on both)

[2015-03-26 18:53] catsoft commented on #44
Sorry but I couldn't understand should I have
Router.configure({
    i18n: {
     .....
   }

both server side and client side. I have one config and nothing changes if I add or remove serverSide:true

[2015-03-26 19:10] catsoft commented on #44
you can see it http://justrentacar.net.it turns "en" whatever browser language is.here is my full config
Router.configure({
    i18n: {
        serverSide: true,
        languages: ["en", "tr"],
        autoConfLanguage: true,
        exclude: {
            sitemap: '^\/sitemap\.xml',
        },
        setLanguage: function(lang) {
            this._language = lang;
            TAPi18n.setLanguag

[2015-03-26 20:10] martinopic commented on #44
my suggestion was to try on server (en locally) this configuration:

[code]
Disabling/enabling "autoConfLanguage" (setting it to true/false) on client and server side configuration and seeing which one is not working: client side implementation relies on ```navigator.language``` property (I'm giving for granted you are using exactly the same client/browser for testing so it should just work) while

[2015-03-26 20:39] martinopic commented on #43
Not sure exactly what are you are referring to but while investigating the issue I've found one problem in default ```missingLangCodeAction``` (the action that is executed when is missing a language code from the url) which could cause this issue in some specific cases. Also the two sample application prevented the back button to work but just when clicking on the "Home" link but just because they

[2015-03-26 20:45] catsoft commented on #44
I tried all combinations in locally and remote. On locally only client side implementation works but on remote non of them. And there is no error anywhere. So what is your suggestion.

[2015-03-26 21:44] martinopic commented on #44
It seems Chrome is setting ```navigator.language``` in a weird way (https://alicoding.com/detect-browser-language-preference-in-firefox-and-chrome-using-javascript/), are you using Chrome? This patch should manage this case.

But I've tried to test your website and the configuration seems ok and it doesn't work with Firefox, unfortunately I can't easily debug it because the code is minified, it wo

[2015-03-26 21:50] catsoft commented on #44
Yes I have tried before the code you use in the last commit for dedecting browser language.I think it would solve the problem. And about non minified version I dont know how can I do it. Can you describe me how to do.

[2015-03-26 21:57] martinopic commented on #44
Second thought: I think this is a duplicate of #42 it's fixed in master branch and will be soon in 0.5.4 release (use master branch if you need to have it now). I will not mark it as duplicate because it made me discover this strange behaviour of Chrome ;-)

[2015-03-26 23:26] #37 closed

[2015-03-28 00:34] y-ich commented on #43
I made reproduction code.
https://github.com/y-ich/ir-i18n-reproduction
If no Iron Router i18n, back button works.
Event the latest iron-router i18n did not resolve this issue.

[2015-03-29 09:24] martinopic commented on #43
Hi @y-ich, that's exactly what I tried to explain above: whenever you hit a url with no language code (e.g. ```/sub```) default ```missingCodeLang``` will redirect (```Router.go```) to the corresponding route with language code (in your case ```/en/sub```) and Iron Router (not Iron Router i18n) stops back button function whenever you have a redirect.

The solution is as simple as using ```pathFor`

[2015-03-29 10:20] y-ich commented on #43
Now I understood.
Thank you!

[2015-03-29 17:30] martinopic commented on #43
As a second thought I realized that even if I strongly suggest to use ```pathFor``` / ```urlFor``` helpers it would be still a desirable feature not to block the browser navigation history on a missing lang code -> lang code route redirection so I added this. Thanks @y-ich (now you sample app works even without using ```pathFor``` even if its use is still recommended)  :-)

[2015-03-29 17:30] #43 closed

[2015-03-29 17:31] #44 closed

[2015-03-29 18:50] martinopic opened #45 "Provide mechanism to set Router language based on user profile lang key"
The mechanism should provide out of the box setting the language based on (configurable) user profile language key when logging in and when the user did not asked specifically for a specific language url (see also https://github.com/yoolab/iron-router-i18n/pull/30)

[2015-03-29 18:57] martinopic opened #46 "Independent i18n configuration package"
There are several features provided by this package that are not router specific:

* auto configure language based on HTTP/navigator parameters
* (reactively) set and get the language
* configure allowed languages
* configure a default language
* persist chosen language between requests

All thise could belong to a separate package also used by other i18n packages

[2015-03-31 09:59] zimt28 opened #47 "Flow Router"
It would be cool if this would be just a `router-i18n` package and support flow-router as well :)

[2015-03-31 10:04] martinopic commented on #47
I was already thinking about it ;-)

[2015-03-31 10:11] zimt28 commented on #47
That's cool :) I've already looked at flow router, and don't know how that could be done. But maybe you have an idea. My thoughts: https://github.com/meteorhacks/flow-router/issues/45 and https://github.com/meteorhacks/flow-router/issues/41

[2015-03-31 11:27] martinopic commented on #47
I've had a first look, I think the same strategy (and even lots of code code) used for Iron Router i18n can be reused for Flowrouter, maybe this could be a reason more to also create a separate i18nConf package (see https://github.com/yoolab/iron-router-i18n/issues/46).

In any case it probably does not make much sense to have a generic "i18n router", better to have a separate package. I'll keep t

[2015-03-31 20:36] martinopic commented on #46
Created https://github.com/yoolab/i18n-conf (work in progess)

[2015-04-02 14:19] Tim-W commented on #24
Please document this on the readme file. It took me quite a while to find this resolution.

[2015-04-02 14:24] martinopic commented on #24
@Tim-W, it's documented in the "exclude" configuration parameters section on the README. This ticket is outdates as there is now a standard method to exclude specific routes/paths.

[2015-04-08 09:36] zimt28 commented on #47
Okay, cool! Really interested in how you'll implement it :)

[2015-04-13 22:31] martinopic commented on #46
i18n-conf version 0.2.0 was released together with iron-router-i18n release 0.5.5, this is the first release of Iron Router i18n which can be configured with i18n-conf.

Both old and new configuration method are (and will be) available for all 0.5.x releases, dropping compatibility with the old configuration method with 0.6. This mean a series of current Iron Router i18n methods are now deprecated

[2015-04-13 22:31] #46 closed

[2015-04-13 22:35] martinopic commented on #45
This feature will be moved to [i18n-conf](https://atmospherejs.com/martino/i18n-conf) package.

[2015-04-13 22:35] #45 closed

[2015-04-14 16:46] obiwarn opened #48 "My Site crashes (Google Chrome says: "Aw, Snap!") with I18NConf"
Whenever I remove the languages  from Router config and place them in my I18NConf. My Site crashes. No errors are displayed.

My config:

Router.configure
    i18n:
        serverSide: true
        defaultLanguage: 'de'
        languages: ['en', 'de', 'fr']
        setLanguage: (lang) ->
            Language.setLanguage(lang)
        exclude:
            admin_paths: '^\/admin',
        server:

[2015-04-14 17:04] obiwarn opened #49 "Calling Router.setLanguage(lang) from onSignIn error"
When I call Router.setLanguage(lang) from my onSignIn method (when user logs in), it changes my Language but not the url.
When I call it anywhere (e.g. click event) else everything is working fine.

My onSignIn method is called from AccountsTemplates Package hook:

AccountsTemplates.configure(
    onSubmitHook: (error, state) ->
        Login.onSignIn(error, state)
        return
)

[2015-04-14 17:21] martinopic commented on #48
What is "Language.setLanguage(lang)" actually doing? Can you try to remove the ```setLanguage``` configuration and to put it in a

[code]

 The reported error seems to come from a infinite loop as if the two setLanguage methods are calling each other repeatedly (there is a mechanism preventing this in Iron Router i18n setLanguage method).

[2015-04-14 21:18] martinopic opened #50 "I18NConf.setLanguage called twice on I18NConf.setLanguage"
On i18n-conf integration if I18NConf.setLanguage is called it will be called twice because of Router.setLanguage implementation.

The second time is called it will cause a

```Warning: asked to change language to [xx] but this is already the current language.```

[2015-04-15 09:11] #50 closed

[2015-04-15 09:20] martinopic commented on #48
Also, this could be related to #50 fixed in 0.5.6 version just released today.

[2015-04-15 09:28] martinopic commented on #49
I don't see any general reason why this should happen. The package is tested with user sign in, I need some more information on your actual code or, possibly, some "toy app" showing the problematic behaviour in order to further investigate it.

[2015-04-19 22:23] martinopic opened #51 "Use I18NConf on getLanguage"
Currently I18NConf is not used to retrieve language on ```Router.getLanguage``` when using i18n-conf configuration, this can generate language inconsistencies (e.g. when persisting language).

[2015-04-19 22:32] martinopic opened #52 "I18NConf autoconfigure language even when language choice has been persisted"
even when set with ```autoConfLanguage``` ```true``` Iron Router i18n should not autoconfigure language when a previous language choice has already been persisted or I18NConf is used (see also https://github.com/yoolab/i18n-conf/issues/7)

[2015-04-19 22:37] martinopic opened #53 "Issue with cookie being set on different paths (persistLanguage)"
```persistLanguage``` cookies are being set on different paths instead of common "/" path (see also https://github.com/yoolab/i18n-conf/issues/6)

[2015-04-19 22:37] #51 closed

[2015-04-19 22:37] #52 closed

[2015-04-19 22:37] #53 closed

[2015-04-20 14:43] zimt28 opened #54 "404 handling"
When I open my app with a route that doesn't exist, I get my error screen. [This line](https://github.com/yoolab/iron-router-i18n/blob/7a193da9f834cc5ecfa75bc3a81d0625483132f1/lib/router_client.js#L60) seems to break my app then, as the non-existent route doesn't have a `name`. So using `getName()` won't work.

[2015-04-21 12:35] Geen-Henk opened #55 "Locale-independent URL"
Question:

Is it possible to generate a locale-independent URL? In my case I'm making some sort of builder/calculator and I want to generate a link for people to be able to share the build/calculation to other people, that then can view it in their own language.

When I generate a link like this:

[code]

I get the URL with the current locale, i.e. `http://example.com/en/calculator/1_2_3_4_5`.
Now

[2015-04-21 13:34] martinopic commented on #55
If I got it right you are referring to the possibility to have ```Route.path``` or ```pathFor``` helper return the url/path without language code and then have iron-router-i18n to automatically redirect to the correct language code aware url. This latter thing is already there, what's not currently possible is to have the "urlNoLocale" path, I think it's a reasonable feature so I'll try to add it

[2015-04-21 14:38] Geen-Henk commented on #55
You got it exactly right, thanks! :+1:
Indeed the latter works, quote: "like it does when I visit that last link".

[2015-04-21 22:44] martinopic commented on #55
This is my attempt to model your request in iron-router-i18n:

[code]

will return ```/post/23```

[code]

will return ```/about``` (instead of e.g. ```/en/about```)

To access the original route you can use ```Router.routes['routeName'].origRoute```

When ```langCodeForDefaultLanguage``` is set to ```false``` this will just return the default route (the route for the default language).

The patch

[2015-04-22 06:07] Geen-Henk commented on #55
Sweet, Ill go ahead and test it.

[2015-04-22 08:11] Geen-Henk commented on #55
Just a question: How do I use the master? I removed Meteor package and extracted all files in `lib/` to my `lib/iron-router-i18n/` folder

[2015-04-22 08:12] martinopic commented on #55
you have to create a "packages" folder and put master content there in a subfolder named "martino:iron-router-i18n" (as for any "custom" meteor package)

[2015-04-22 08:14] Geen-Henk commented on #55
Ah ok thanks! Haven't installed a custom package before so I didn't know.

[2015-04-22 08:26] Geen-Henk commented on #55
Awesome, both helpers work as expected :+1:

[2015-04-22 08:28] martinopic commented on #55
Great :+1:  . I'll keep the issue open because I might change the parameter name and/or some other configuration parameters but the feature should stay the same. Thanks for your suggestion and your help.

[2015-04-24 09:51] Geen-Henk opened #56 "Set html lang attribute"
For SEO purposes, can you make it possible to set this to the current language?

[code]

[2015-04-25 16:52] martinopic commented on #54
I've added an additional check on current ```controller.route``` but I can't repeat the bug. Could you tell me the steps to reproduce it with ```examples/basic``` application and/or by integrating it with some additional conf? I don't know exactly how are you managing the 404 stuff.

[2015-04-25 17:28] #56 closed

[2015-04-25 17:29] #55 closed

[2015-04-28 20:21] #54 closed

[2015-04-29 12:38] richarddewit commented on #56
Awesome! :+1: Works like a charm

[2015-04-29 12:51] richarddewit opened #57 "TypeError: this.getLanguage is not a function"
[code]

in `packages/martino:iron-router-i18n/lib/router_client.js` on line 58:

[code]

Steps to reproduce:
1. use URL **with** locale (http://localhost:4000**/en**/example)
2. use URL **without** locale (http://localhost:4000/example)
3. Error in console

Only appears without locale in URL.

[2015-04-29 13:33] martinopic commented on #57
This should fix it. Unfortunately I still haven't thought about a good way to test this part of the code. Will be available in next bugfix release (will wait a couple of days to see if other bugs come up).

[2015-04-29 13:34] martinopic commented on #49
Haven't received any further feedback on this for two weeks, closing.

[2015-04-29 13:34] #49 closed

[2015-04-29 13:35] martinopic commented on #48
Haven't received any further feedback on this for two weeks, closing.

[2015-04-29 13:35] #48 closed

[2015-04-29 21:26] #57 closed, assigned to martinopic

[2015-05-17 22:01] mwarren2 opened #58 "Error: A route for the path "/en/pathInEnglish" already exists by the name of "myPage"."
I have an app I've been working on for about two months. I had a router.js with about thirty routes in it, all with /en and /it prefixes and it was working perfectly thanks to iron-router-i18n.

About a week ago I did a 'meteor update' and since then meteor just crashes at start up with the above message or similar. Since then I have been working continuously trying to work out what is wrong/corre

[2015-05-18 08:49] martinopic commented on #58
It's a strange configuration as usually Iron Router i18n is used to automatically add the lang prefix ('en', 'it') to the route so . Did you just update meteor or also updated Iron Router i18n? Which version of Iron Router i18n were you using and which are you using now?

It should work anyway so I'll have a look asap.

[2015-05-18 09:11] mwarren2 commented on #58
martino:iron-router-i18n@0.5.4 was the version before update
martino:iron-router-i18n@1.0.1 is current version

iron-router stayed at 1.0.7

Yes I do have the lang prefixes, but they aren't essential to me.
I tried without as well, but Meteor continued crashing, so after a couple of days of trying I'm assuming it wasn't me, and am turning to you in the hopes that you can find something.

Current v

[2015-05-18 09:24] mwarren2 commented on #58
I've tried my little example without prefixes and yes it works, so please don't waste time on this. I will go back to the main app and take a further look at this, and get back if necessary

[2015-05-18 09:25] martinopic commented on #58
This is what I was thinking: what confuses Iron Router i18n are the prefix routes, neverthless it should work also with lang prefixed routes or at least give a warning so I'll keep this issue open even if it's a minor issue :-)

[2015-05-18 09:54] mwarren2 commented on #58
Thank you for your help, it's all beginning to work again. I can't explain why I put the prefixes. I also had to change Router.getLanguage() to I18NConf.getLanguage() which I found in another issue.
Thanks again.

[2015-05-18 15:00] mwarren2 commented on #58
Ok, I now recall why I ended up adding the lang prefixes: it was because it was the only way I found to solve an apparently simple task, which is a little exception for the home page.

In english, and only in english, I need to leave off the lang prefix for the home page, thus on my test machine http://localhost will respond in english and my domain home page in production will respond nicely in t

[2015-05-18 17:01] martinopic commented on #58
There is an option to avoid lang code for all default language routes which is `langCodeForDefaultLanguage` (default is true) but I guess you just want to avoid language code for the home page.

The router is available inside any configurable hook as "this", not sure whether rendering the template inside missingLangCodeAction would work.

A cleaner way to solve your problem could be to use `exclud

[2015-05-18 19:02] mwarren2 commented on #58
Ok, I shall drop my stupid idea to have just the home page without the prefix. Much better to go with the package defaults (I will use `langCodeForDefaultLanguage = false`) and have less of my own code to worry about.

Thank you so much for your time and help. I think this has solved everything.

[2015-05-20 10:27] mwarren2 opened #59 "Exception in callback of async function: TypeError: Cannot read property 'getName' of undefined"
You know my configuration more or less from a previous issue, and I will repeat it here.

It's been honed down to the simplest possible setup:

[code]

This works extremely well throughout my app.

I have however some admin pages, in this case for sticking translations into the database or updating them, so I would like to use 'exclude'. It's not strictly necessary, I could just accept that i18n t

[2015-05-20 10:54] martinopic commented on #59
this is a bug. Should be fixed by last commit in master (if you want to try master you can download and extract it to "packages" subdir of your project. Will be in next bugfix release (will add a test for this).

[2015-05-21 21:41] #59 closed, assigned to martinopic

[2015-05-21 22:27] #58 closed, assigned to martinopic

[2015-05-26 05:48] y-ich opened #60 "[Question] How can I localize title in head?"
Now I localize page title using onBeforeAction like the following code.

[code]

Are there any simpler implementations?

[2015-05-26 07:50] martinopic commented on #60
This is not really Iron Router i18n related but why don't you just use tap-i18n helper in the layout template? Not sure whether tap-i18n translate helper is reactive if it's not you can just make your reactive one and/or use a tracker and put a dependency on current language.

[2015-05-27 01:10] y-ich commented on #60
Helpers in head tag do not work. Spacebars just renders '{{XXX}}' string.
Anway, thank you!

[2015-05-27 09:22] martinopic commented on #60
You can probably use a package like

https://atmospherejs.com/lookback/seo

or

https://atmospherejs.com/rainhaven/iron-seo

Just search for "meta" in Atmosphere.

[2015-05-27 09:22] #60 closed, assigned to martinopic

[2015-06-01 06:40] SierraGolf opened #61 "problem with iron-router-i18n and spiderable"
Hi,

I am having problems bringing together iron-router-i18n with spiderable. If I do not use iron-router-i18n spiderable works as expected. With iron-router-i18n all the language awesomeness works, but I lose the spiderable server-side rendering.

So this is what happens:
1. I call http://localhost:3000/?_escaped_fragment_=foobar
2. I see

[code]

This is my configuration:

[code]

I am using it

[2015-06-03 14:01] paulo2nd opened #62 "ReferenceError: I18NConf is not defined"
I've added iron-router-i18n in my project, but after trying to use the I18NConf.configure I got the error: ReferenceError: I18NConf is not defined. (Trying to use it in my router.js).

[2015-06-03 14:09] paulo2nd commented on #62
had to add martino:i18n-conf manually.

[2015-06-03 14:30] martinopic commented on #62
Which version are you using? There is a (non weak) dependency since version 1.0.0 so martino:i18n-conf should be loaded automatically.

[2015-06-03 14:33] martinopic commented on #61
I'm not sure why you are using that "onBeforeAction" just on the server and why you put TAPi18n language configuration there. Also I guess there actually is a route named "foobar" :-)

It wouldn't be bad to have a sample project showing the problem!

[2015-06-03 16:02] SierraGolf commented on #61
closed by accident

[2015-06-03 16:53] SierraGolf commented on #61
I will create an example project. Btw. bare with me, because I am kinda new to this javascript frontend world.

About your questions:
- where else would I set the language to TAPi18n?
- no there is no route called foobar

I guess my question is why does the app think I want to access http://localhost:3000/foobar when I call http://localhost:3000?_escaped_fragment_=foobar, but only when I add the i

[2015-06-03 17:02] paulo2nd commented on #62
Meteor 1.1.0.2, martino:iron-router-i18n 1.0.2

If I remove the martino:i18n-conf 0.3.1 occurs the error.

[2015-06-03 17:10] martinopic commented on #61
as for TAPi18n you can configure a I18NConf listener:

[code]

This listener will be simply called everytime `I18NConf.setLanguage` is called manually or anytime is called automatically by Iron Router i18n (e.g. when accessing a route with lang code and/or recognized as a i18n route).

[2015-06-03 17:15] martinopic commented on #62
I think you are right and I have to use `api.imply` in addition to `api.use` to make I18NConf automatically available on Iron Router i18n loading (which is needed because configuration depends on that). This bus has an easy workaround which is just manually adding the package but it's stilla but, will be fixed in next release.

[2015-06-03 17:17] martinopic commented on #61
As for the issue I'll have a look into it, if you can prepare a minimal sample app to show it it would be an helping hand.

[2015-06-03 17:31] martinopic commented on #61
P.S. it's strange that if confirmed would be a strange behavior but why are you using `http://localhost:3000/?_escaped_fragment_=foobar` instead of `http://localhost:3000/foobar?_escaped_fragment_=`, a web crawler would use the second one.

[2015-06-03 18:00] SierraGolf commented on #61
Yeah, you are right the example is artificial. To be honest I did not know at the time that there would not be a value for the parameter `_escaped_fragment_` and I just put something random there to test the behaviour. Testing with an empty value works as it should and query parameters generally work also as expected. However I did not test with actual hash fragments, because I don't have any (yet

[2015-06-03 20:08] martinopic commented on #61
I'd say both, client and server.

As for TAPi18n having the hardcoded language to "en" I'd just initially set the language to de in a Meteor.startup block and still use the I18NConf listener. There is a ticket I've opened to integrate tapi18n with i18n conf https://github.com/TAPevents/tap-i18n/issues/62

[2015-06-04 06:12] SierraGolf commented on #61
About this issue, since we figured out that it is not really a real life problem, feel free to close this issue.

About the listener problem. When I set the language to "de" in the start block any page request will be using de as language independent from the url language.

[2015-06-14 17:05] erdgrau opened #63 "Problem with package"
Hi!
I added your package in my project, but I have some problems.
## versions:

martino:iron-router-i18n@1.0.2
martino:i18n-conf@0.3.1 - I added it manually, because "meteor add martino:iron-router-i18n" doesn't add  itself this package.
meteor@1.1.6
meteor-platform@1.2.2
## config: lib/router/config.js

I18NConf.configure({
    defaultLanguage: 'ru',
    languages: ['en', 'uk', 'ru'],
    autoCon

[2015-06-16 11:24] #62 closed, assigned to martinopic

[2015-07-04 13:49] paulo2nd opened #64 "Cannot read property 'route' of null"
[code]

I am using Router.getLangCode as below:

[code]

[2015-07-04 19:07] PauloSegundo commented on #62
Sorry, i am using the latest version and still have same problem if I remove martino:i18n-conf

[2015-07-07 14:14] martinopic commented on #64
The problem is that during startup phase the current controller has not yet been set so `this.current()` is null. I think the method can be rewritten to just use current url.

[2015-07-07 14:19] martinopic commented on #63
Sorry for the late reply, this could be something related to https://github.com/yoolab/iron-router-i18n/issues/64 I'll commit a patch soon, please keep an eye on that issue and tell me if it also solve your problem.

[2015-07-07 17:10] martinopic commented on #64
Ok, this patch should solve your problem and improve a bit other edge cases.

By the way my suggestion is to use `I18NConf.getLanguage` to get current language, `Router.getLangCode` is just a utility method to extract the language code from the url (if any!).

[2015-07-07 18:01] paulo2nd commented on #64
Had change my code yesterday to use `I18NConf.getLanguage`. Thx

[2015-07-08 08:27] #64 closed, assigned to martinopic

[2015-07-10 20:53] erdgrau commented on #63
I cloned repository and set in console 'meteor add martino:iron-router-i18n', then I had version martino:iron-router-i18n@1.0.4. But now I have the same problem with helper {{pathFor}}. Mb is it my fault?

My example is config:
I18NConf.configure({
    languages: ["ru", "uk", "en"],
    defaultLanguage: 'ru',
    autoConfLanguage: true
});

Router.configure({
    notFoundTemplate: 'notFound',

[2015-07-10 22:49] martinopic commented on #63
I've tested your configuration with simple app you find in `examples/basic`, with the code you find below and `pathFor` seems to work perfectly. I need to replicate the problem could you please prepare me a toy app that shows the problem?

init.js:

[code]

basic.html

[code]

basic.js:

[code]

[2015-07-11 10:06] erdgrau commented on #63
I think, I have solved this problem.

There is my structure:
![11111as](https://cloud.githubusercontent.com/assets/12447113/8633333/9a7fc85c-27cb-11e5-9b76-0af13b012bcf.jpg)

Threre is config.js:
I18NConf.configure({
...
})
Router.configure({
...
})

My routes are in different files and folders. So, I added my routes, like your examples, and got valid helper {{pathFor}}. My structure works perfect

[2015-07-11 16:31] martinopic commented on #63
You're right, that's an interesting case. It's probably due to the Meteor file load order logic and the way you structured your code: when you create an i18n route the route is created depending on the current router i18n configuration but if the configuration is loaded and executed AFTER the route has been created there come the problem.

In order to keep some kind of structure but still load fir

[2015-07-14 12:18] jirkadev opened #65 "Use tap:i18n in basic example"
Hi, would it be possible to improve your examples\basic with integration of tap:i18n package. I wanted to have page content translated:

http://localhost:3000/en/one -> Page one
http://localhost:3000/it/one -> Prima pagina

I installed tap:i18n an added en.i18n.json and it.i18n.json, but it did not translate page for different url, but it should. I am new to Meteor and I don't know how to integrat

[2015-07-14 13:13] martinopic commented on #63
I've created a mechanism to defer route creation on Meteor.startup in order to avoid possible problems due to file load order like the one you reported. As I'm still unsure on whether how to release it I'd be grateful if you could test it on your configuration and see if it solve the problem. I've also added an automated test for this but it's a relatively big change in logic and I want to test it

[2015-07-14 14:05] #61 closed, assigned to martinopic

[2015-07-14 14:59] erdgrau commented on #63
I cloned your branch 'iron-router-i18n-issue-63' and I tested it in my project. It works perfectly. Thanks a lot.

[2015-07-14 17:32] martinopic commented on #65
Examples need to be redone completely as weren't kept up to date with changes.

[2015-07-14 17:58] martinopic commented on #63
Version 1.1.0 now defer route creation to `Meteor.startup` phase. As this is a relatively big change in inner logic there is also a new option to disable the new default behaviour. Anyway the new inner working should be safe (I'd say safer) 99,9% of the times.

[2015-07-15 08:37] jirkadev commented on #65
Thank you:)

[2015-07-16 11:47] jirkadev commented on #65
It would be nice, if you add a language switcher in you example. I mean this package: [tap:i18n-ui](https://atmospherejs.com/tap/i18n-ui)

Example with packages: iron-router-i18n, tap:i18n and tap:i18n-ui would be nice.
I mean to have two languages and two sample pages. And different URLs for each language. Something like switching languages on Wikipedia:)

[2015-07-16 11:50] martinopic commented on #65
It was this way before it broke, just very rough design (if somebody is willing to give a hand on this I'd be glad :-) ). Language switcher were just links and a listener on these links.

[2015-07-21 12:01] Obiwarn opened #66 ""Couldn't find a template named "En" or "en". Are you sure you defined it?""
I get the error message:

"Couldn't find a template named "En" or "en". Are you sure you defined it?"

All I do is:

I18NConf.configure({

[code]

});

de and fr work fine.

[2015-07-21 12:04] Obiwarn commented on #66
It seems to be connected to the default lang. When I change the default lang  to fr. en and de work fine and fr causes the error.

[2015-07-24 07:14] richarddewit commented on #63
Please flag this a **"breaking change"** update! Spent 2 hours trying to figure out why this update broke my code...

**lib/config.coffee**

[code]

[2015-07-24 10:40] martinopic commented on #63
Sorry about that. Before pushing the change I thought a bit about how could this be a breaking change but I really couldn't figure out a case where deferring route creation to meteor startup could be a problem. Could you please explain me exactly how this is affecting your configuration?

A different approach could be to regenerate all routes on every `Route.configure` having to do with i18n or ma

[2015-07-24 12:01] richarddewit commented on #63
I'm not quite sure what exactly causes this, so I'll try to capture everything related.

When I omit the `deferRouteCreation: false` (it being true by default), Iron Router doesn't recognize my routes, and:
- **iron-router-i18n** throwing `TypeError: Cannot read property '_i18n' of undefined` when I use `pathFor`
- **Iron Router** logging a warning saying `pathFor couldn't find a route named "prod

[2015-07-25 21:41] martinopic commented on #63
Thanks a lot for the information quite useful but I really can't reproduce the problem, the ideal thing would be a toy application reproducing the problem.

In any case I've tried a different approach where routes are recreated on each `Router.configure` call with an i18n section. In addition to solve the original problem (issues caused by meteor file load order logic) this could be also useful fo

[2015-08-07 02:09] y-ich opened #67 "An error occurs at 1.1.0 version"
Hi.

When I update Meteor to 1.1.0.3, meteor automatically updates iron-router-i18n to 1.1.0 and I became to get an error "Uncaught Error: Router.route requires a path that is a string or regular expression." in iron_core.js.

I guess that this error is related with iron-router-i18n since Iron Router has no change for meteor 1.1.0.3.

[2015-08-07 13:47] martinopic commented on #67
Please try to use [issue-63 branch version](https://github.com/yoolab/iron-router-i18n/archive/issue-63.zip) and see if it solve this problem. I've been reported some problems about 1.1 version also in #63 but I really can't figure out exactly where is the problem (if any). See the discussion on the issue on what was changed and why (just an internal implementation).

[2015-08-08 12:10] y-ich commented on #67
I found the cause and made a pull request #68.

[2015-08-08 12:10] #67 closed, assigned to martinopic

[2015-08-09 11:01] martinopic commented on #65
I've written two very simple but working examples one without tap-i18n (bare iron-route-i18n) and one with tap-i18n integration.

[2015-08-09 12:22] #65 closed, assigned to martinopic

[2015-08-10 11:16] martinopic commented on #66
Can you please also show the routes you add in your configuration?

[2015-08-10 12:26] Obiwarn commented on #66
They look like this (but way more):

[code]

[2015-08-10 16:40] martinopic opened #69 "On the fly reconfiguration"
The way Iron Router i18n is implemented internally now makes it impossible to reconfigure the router after initialization (that is e.g. adding a language or changing the default language). This is probably not a widely requested feature but it could be of some use, moreover reimplementing this inner work will probably also solve in an acceptable way #63 .

[2015-08-11 12:57] martinopic commented on #66
I need to isolate and replicate the problem, I'm using the following simple code. Please tell me if it works (or not) for you and also please tell me your browser default language and allowed languages and, finally the url your are asking for when it does not work.

client/basic.html:

[code]

client/init.js:

[code]

[2015-08-12 11:49] Obiwarn commented on #66
Maybe it has to do with one of my installed packages?
I am on a tight schedule here in the company to test it now. I will try later this week.

[code]

[2015-08-14 16:51] martinopic commented on #63
Version 1.2.0 should solve ay problem related to this as it will change the internal implementation (see #69)

[2015-08-16 20:11] #69 closed, assigned to martinopic

[2015-08-16 20:13] martinopic commented on #63
Version 1.2.0 has been published, I've added several tests regarding "on the fly reconfiguration" which is the feature related to this original problem (problems caused by load file order) and improves very much the original internal implementation that could have caused other weird problems reported in this bug.

Feedback will be appreciated :-)

[2015-08-16 20:14] martinopic commented on #66
Please try to see if it's fixed with new 1.2.0 version. Couldn't replicate your problem but might have had to do with some bugs in the 1.1.x inner implementation that now is completely changed in 1.2.x.

[2015-08-18 14:05] Obiwarn opened #70 "Problem with yogiben:admin package"

[2015-08-18 14:16] martinopic commented on #70
Some code (configuration and routes) would help.

[2015-08-18 14:17] Obiwarn commented on #70
Router.configure
    layoutTemplate: 'layout'
    loadingTemplate: 'loading'
    notFoundTemplate: 'notFound'
    trackPageView: true
    onStop: ->
        AccountsTemplates.setPrevPath(Router.current().url)
    waitOn: ->
        #for admin
        if (Roles.userIsInRole Meteor.user(), ['admin'])
            Meteor.subscribe('spots')
            Meteor.subscribe('users')
            Meteor.subsc

[2015-08-18 15:54] dnish opened #71 "Trouble with default language"
Hey guys,
I'm having some trouble with the following configuration:

[code]

I've enabled the following languages:

[code]

The problem: The redirect to the browser language doesn't work. In my example, I'm a german user and german is declared as default language on FireFox. The script doesn't redirect me to "myapp.com/de" - it stays on the normal english page "myapp.com". If I set "langCodeForDef

[2015-08-18 19:41] dnish commented on #71
Just to add more information: It seems like a problem during the startup. I've used the following callback to check the languages:

[code]

If I open my app, I get 2 alerts with 'en' and 'de' - but the url isn't changing to 'myapp.com/de' - it is still 'myapp.com' with german language on that site. If I execute the setLanguage() function with a timeout, f.e.

//client

[code]

I get successfully r

[2015-08-19 08:51] martinopic commented on #71
This is not a bug but an intended feature:

if you configure `langCodeForDefaultLanguage: false` you are saying in your case that "en" routes should not have a prefix so when you call `/` (home route without any prefix) it's like if you are calling `/en` therefore you are SETTING language to "en" (i.e. "asking the document in en" in HTTP terms) no matter what your browser says.

I could add a conf

[2015-08-19 09:41] martinopic commented on #70
Can't spot any problem with that and exclude tests are running just fine on 1.2.0.

The only thing I can think of is some strange configuration loading order then I will need to know the order in which your routes and I18NConf.configure and Router.configure execute.

You can just put some "console.log" just before any of these execute and report me the order and the content of the configurations l

[2015-08-19 10:15] dnish commented on #71
Yeah, but it isn't working. I get the german translation on "/" (home route), not the english one as configured. Also your plugin sets persistLanguage cookie to "en", but the german translation is shown on home route.

I've tried it also with your examples, they having the same problem. My browser has "de" as first language configured, so I've expected, your plugin would redirect me to "/de".

The

[2015-08-19 11:23] martinopic commented on #71
Ok, now I understand better. It's a problem with martino:i18n-conf which is now solved in 0.3.3 (just released!). The example is working for me with the new version. I'll release a 1.2.1 with updated dependency to i18n-conf 0.3.3.

[2015-08-19 11:30] #71 closed, assigned to martinopic

[2015-08-19 12:06] dnish commented on #71
Hey,
just tried it with example "basic-tap-i18n" and updated versions - still not working here. I've made the following changes (also added a "de.i18n.json"):

init.js

[code]

If I visit "localhost:3000", I get the english version now, but will not be redirected to the german one (browser language) automatically. If I set <code>langCodeForDefaultLanguage: true</code> I'll get redirected automatic

[2015-08-19 13:02] Obiwarn commented on #70
I call i18nConf first
then all router stuff
in the same file.

Just got back to 1.1.1. works fine.

Sebastian Obentheuer

+49 0176 569 88 564

sebastian@hoardspot.com

www.hoardspot.com

einFach GmbH, Alexanderstrasse 3, 10178 Berlin, Geschäftsführer: Anthony
Forsans

Registergericht: Amtsgericht Charlottenburg (Berlin), HRB 154297 B

2015-08-19 11:41 GMT+02:00 Martino Piccinato notifications@gith

[2015-08-19 15:42] martinopic commented on #70
So to be precise all in the same file:

1) I18NConf.configure
2) Router.configure
3) Router.route

[2015-08-19 15:44] Obiwarn commented on #70
Yes :-)

Sebastian Obentheuer

+49 0176 569 88 564

sebastian@hoardspot.com

www.hoardspot.com

einFach GmbH, Alexanderstrasse 3, 10178 Berlin, Geschäftsführer: Anthony
Forsans

Registergericht: Amtsgericht Charlottenburg (Berlin), HRB 154297 B

2015-08-19 17:42 GMT+02:00 Martino Piccinato notifications@github.com:

[2015-08-19 15:46] Obiwarn commented on #70
admin is yogiben   https://atmospherejs.com/yogiben/admin

admin route is created  by this package.

Sebastian Obentheuer

+49 0176 569 88 564

sebastian@hoardspot.com

www.hoardspot.com

einFach GmbH, Alexanderstrasse 3, 10178 Berlin, Geschäftsführer: Anthony
Forsans

Registergericht: Amtsgericht Charlottenburg (Berlin), HRB 154297 B

2015-08-19 17:44 GMT+02:00 Sebastian Obentheuer sebastian@hoar

[2015-08-19 15:51] martinopic commented on #70
I think a simple workaround would be to add this lines of code

[code]

I'll try to investigate more.

[2015-08-19 17:19] martinopic commented on #66
This is a bug with "reywood:iron-router-ga". This package overrides `Router.route` too but it does not respect the method "signature causing problems to Iron Router i18n (but could also cause problems to other apps depending on how you create routes).

I'm going to open a ticket on the package github.

[2015-08-19 17:55] martinopic commented on #70
I've fixed a bug (in master) of Iron Router i18n that was generating an error with excluded routes and the seo package you are using (manuelschoebel:ms-seo).

In any case this was just preventing the seo package to work and throwing an exception on the console: after removing package `reywood/meteor-iron-router-ga` (see #66) I can access yogiben `/admin/settings` path as an excluded path.

Can you

[2015-08-19 19:03] svda commented on #66
I experienced this problem. Until this issue hsa been addressed by reywood, you can work around it by changing the load order so iron-router-ga is loaded last.

[2015-08-20 09:35] Obiwarn commented on #66
@martinopic: Thank you so much for the great support! That was it.

When I load reywood:iron-router-ga first I get the above error, when I load it last I get an 404 (just like with my excluded admin routes when I uses 1.2.0 of your package).

So I removed reywood:iron-router-ga and everything works fine.

[2015-08-20 09:47] Obiwarn commented on #70
I removed schoebel,
I removed reywood,
I added Router._recreateRoutes

Nothing helps.

ah.. just found it:
- remove reywood/iron-router-ga
- load martino:iron-router-i18n before any admin stuff

like here:

[code]

[2015-08-20 14:56] Obiwarn opened #72 "Cosmetics: 1.2.1 prints "Route recreate" twice on startup, remove?"

[2015-08-20 15:04] dnish opened #73 "Allow navigator language to override url language"
Hey,
didn't know if you got a notification, because I've posted it on the closed issue.

I've just tried it with example "basic-tap-i18n" and updated versions - the auto language redirect is still not working. I've made the following changes (also added a "de.i18n.json"):

init.js

[code]

If I visit "localhost:3000", I get the english version now, but will not be redirected to the german one (bro

[2015-08-20 18:20] martinopic commented on #73
Hi,

this is not a bug but an intended feature, as explained in #71 :

if you configure `langCodeForDefaultLanguage: false` you are saying in your case that "en" routes should not have a prefix so when you call `/` (home route without any prefix) it's like if you are calling `/en` therefore you are SETTING language to `en` (i.e. "asking the document in en" in HTTP terms) no matter what your browse

[2015-08-20 18:37] dnish commented on #73
Hi,
yeah I think it would, because if the users language is available, he should read the page in his language. For example, www.spotify.com redirects me automatically to www.spotify.com/de - a US user stays on spotify.com, because it is the main version.

Think it also looks better for SEO, when you have a main version in english on the root path. If I would activate <code>langCodeForDefaultLangu

[2015-08-21 08:38] martinopic commented on #73
Ok I see there are cases where this seems to makes sense, I might add a special option for this (but leave the behavior disabled by default).

My point is that by always letting the navigator language override the language in this case there will be non bookmarkable resources. In your cases a user whose browser language is "de" will not be able to reach the english version of a page, moreover GET

[2015-08-21 08:52] #72 closed, assigned to martinopic

[2015-08-21 09:34] Obiwarn commented on #70
Now I get a new Bug.

I first load
  martino:iron-router-i18n

then
yogiben:admin

When  I enter my admin url I get:

Exception in template helper: TypeError: Cannot read property 'en' of undefined
    at Function.Iron.Route.getRouteForLang (http://localhost:3000/packages/martino_iron-router-i18n.js?9299aa311e72b37420899fd26a287b09ffd9ae57:651:52)
    at Function.Iron.Route.path (http://localhost:

[2015-08-21 09:39] martinopic commented on #70
This is a bug and has been fixed in master (see https://github.com/yoolab/iron-router-i18n/commit/d2722945495affbebd5d431013c460592016157c)

[2015-08-21 09:44] Obiwarn commented on #70
Oh great.

I guess the fix will be in 1.2.2 ?

[2015-08-21 09:52] martinopic commented on #70
Please don't close the issue: the problem with the admin package is still there, all should work seamlessly without having change packages load order :-)

[2015-08-21 09:59] martinopic commented on #73
All in all what you are asking for is allow the navigator language to always override the url language, this could be already simply done on a Meteor.startup:

[code]

This would always override the url language no matter what i18n url the user ask for.

[2015-08-22 21:21] martinopic opened #74 "langCodeAction should always set language"
Not doing this cause language change callbacks not to be called when language is already persisted (see https://github.com/yoolab/i18n-conf/issues/10)

[2015-08-22 21:28] #74 closed, assigned to nobody

[2015-08-27 00:23] laurentpayot opened #75 ""already the current language" warnings since v1.2.2"
Since version 1.2.2 (#74 fix) I get "<i>Warning: asked to change language to [en] but this is already the current language.</i>" console warnings every time I'm moving from one page to another within the English version of my app.

My configuration is (in CoffeeScript, hope you don't mind):

[code]

[2015-09-16 01:06] y-ich opened #76 "Fast Render seems not to work with language specific template."
Hi.

I tried to use Fast Render for my app, that use iron-router-i18n.
It just renders with some delay, not fast, for a route with  language specific template, such as
Router.route('/', {
    name: 'top',
    layoutTemplate: 'top',
    i18n: { languages: {
        ja: { template: 'menuJa' },
        en: { template: 'menuEn' }
    }}
});
Even if the template has no dependency with any Collections,

[2015-09-26 23:08] erdgrau commented on #75
I have the same problem.

[2015-09-27 13:01] Kostanos commented on #75
Same issue here

[2015-10-11 14:07] Kostanos commented on #75
+1

[2015-10-12 15:05] laurentpayot commented on #47
Flow Router is now the ["first choice" router for MDG](http://meteor-guide.readthedocs.org/en/latest/routing/#installing-flow-router), but its lack of i18n prevents me from using it. Any news about Flow Router support? That would be really much appreciated!

[2015-10-14 14:29] juliomac opened #78 "Few doubts on basic usage"
I want to use a pretty plain configuration as below:

[code]

Doubts:
1) What is autoConfLanguage meant for?
2) When using 'pt-BR' as a language it gives an erro. This is the language code I use throughout the app. Is there a better way to resolve it to pt-BR path instead?
3) Path is not changing when using `I18NConf.setLanguage(currentLang)` on my code. Can't figure out why, specially because It

[2015-10-14 16:17] mwarren2 commented on #47
I agree with @laurentpayot.  I'm a developer in europe, where multilanguage apps and sites are common. In my case they are the norm. But unfortunately i18n is usually an afterthought. I'm beginning to wonder if my first Meteor app will ever see the light of day. Just discovered also that both ms-seo for iron-router and flow-router-seo ignore 18n, for example. @martinopic your iron-router add-on wa

[2015-10-14 16:32] juliomac opened #79 "SEO international target - How to handle hreflang tags?"
Goggle analyses if a site is prepared for i18n and ranks it higher if it does.

However, they seem to rely on `hreflang tags`. I am confused what is this exactly and how to handle it. Does Iron-router-i18n deal with it?

[2015-10-18 01:49] y-ich commented on #76
It seems that fast render cannot render fast when a targeted subscribe has no documents.
It was not related with iron-router-i18n.

Sorry for my confusion.

[2015-10-18 01:49] #76 closed, assigned to nobody

[2015-10-21 03:14] Xiangshen-Meng commented on #75
+1

[2015-11-10 12:06] TimoRuetten opened #80 "Problems with wildcards"
When using this package you will have problems when using a wildcard route at first parameter.

Example:

[code]

this.params.names will return for example en/name1/name2 and the language will not be set when going to this route:  /en/name1/name2/about.

A fix I could do by myself is always to shift the params.names array and set with the returned value the language. But this would only be a worka

[2015-12-08 08:47] gregorvand commented on #75
+1

[2015-12-08 13:55] laurentpayot commented on #47
I have just opened https://github.com/kadirahq/flow-router/issues/441 to see if there is hope or not...

[2015-12-08 15:16] laurentpayot commented on #47
So there is no hope. Yet.

[2015-12-10 13:23] sunstorymvp commented on #75
any news here?

[2015-12-14 23:23] tcastelli commented on #47
+1 for this idea

[2015-12-15 15:10] ipa1981 commented on #75
+1

[2015-12-17 17:57] marktomm commented on #47
+1 any hope yet?

[2015-12-17 21:44] #63 closed, assigned to martinopic

[2015-12-17 22:32] martinopic commented on #75
Sorry for reacting so late, version 1.2.3 should solve the problem (it use new 0.3.4 i18n-conf version). Please let me know.

[2015-12-17 22:35] martinopic commented on #47
Hi, I might start working on a flow-router version on January but I cannot be sure at the moment. Sorry about that (I love flow-router too!)

[2015-12-17 23:37] gregorvand commented on #75
Fixes for me, thanks!

[2015-12-18 14:21] laurentpayot commented on #75
Still having the message when loading/reloading the page (F5) but not between pages anymore so it's good enough for me. Thanks ! :+1:

[2015-12-19 17:21] martinopic commented on #75
@laurentpayot you shouldn't have these messages at all, are you sure? maybe if you paste part of your configuration... (or maybe if you can replicate the wrong behaviour by using one of the examples or making an simple example)

[2015-12-20 12:42] cedrisk commented on #75
@laurentpayot
maybe it's because you configure lang selection in a client "Meteor.startup" function

[2015-12-20 17:38] martinopic commented on #75
@laurentpayot if this is the case you should just disable language autoconf and have your language configuration. Just remember that in any case you can always get the current language with `I18NConf.getLanguage()` and know if it's the default language or if it was explicitly set with `I18NConf.isLanguageSet()`

[2016-01-04 20:39] seanmiddaugh opened #81 "Language doesn't change"
I have a basic setup. Two files, en.i18n.json and fr.i18n.json. When I change the url to blah.com/fr, the French language file doesn't load, it just shows the English translations still.

Any ideas?

[2016-02-04 00:42] rafa-munoz commented on #47
+1 as well!

[2016-02-06 01:14] patte opened #82 "Problem with excluded urls when reloading page"
I'm encountering a strange behaviour related to excluded paths on the client. Everything works fine as long as the app is loaded and I'm traveling through routes. But when I reload the page (manually or via hot code push) excluded routes that worked perfectly before, suddenly get language-prefixed and everything blows up ;) meaning I get redirected to routes that don't exist.

Here's my config

[c

[2016-02-12 13:51] y-ich opened #83 "Router.routes['routeName'].origRoute is undefined"
Hi.

It maybe a quick question, could you tell me how to access origRoute in the latest version (1.2.3)?
I tried to access Router.routes['routeName'].origRoute, but it was undefined.

[2016-02-13 12:15] y-ich commented on #83
Finally I got what I wanted.

[code]

[2016-02-13 12:15] #83 closed, assigned to nobody

[2016-03-07 00:13] y-ich opened #84 "fails to change URL to hash style when appcache is enabled."
When I added appcache package, URL is changed from
    http://example.com/en
to
    http://example.com/en#en
and as a result, routing fails.

I am not quite sure where is the cause, appcache, IronRouter, or iron-router-i18n.

[2016-03-10 15:46] laurentpayot commented on #47
@martinopic  Any news? I don't want to be pushy, iron-router-i18n is great and a flow-router version would be much appreciated by the community.

[2016-04-25 09:27] WitaliB commented on #47
+1

[2016-05-07 11:10] slissner commented on #47
+1 painfully needed as meteor 1.3 update crashed my app running on iron:router.

[2017-03-27 09:32] nazarposhta opened #86 "pathFor with parameters + changing languages"
Hi everyone! I have to implement translation component not by javaScript but by "pathFor". The problem is in the parameters. With routes like `/contacts`, `/faq`, `/profile` everything is fine.
I can just put the pathFor like this:

`href="{{pathFor route=(router_name) lang=(tag)}}`

But in cases with for example `/esl-lesson-plans/:_main_course_url/:_id/:_lesson_url.html` where I have dynamic par

[2017-04-01 08:25] calvintechart opened #87 "Uncaught Error: Expected template rendered with Blaze.render / iron router notFoundTemplate not routed"
My code is:

Error msg when typed wrong url:

`Uncaught Error: Expected template rendered with Blaze.render
    at Object.Blaze.remove (blaze.js?hash=f33d3df…:2412)
    at DynamicTemplate.destroy (iron_dynamic-template.js?hash=7644dc7…:361)
    at Blaze.View._render (iron_layout.js?hash=b2030df…:428)
    at Blaze.View.doRender (blaze.js?hash=f33d3df…:2086)
    at blaze.js?hash=f33d3df…:1934
    at

[2017-04-01 11:34] calvintechart commented on #87
I remove the {{> yield}} in notFoundTemplate: 'blankLayout'. Then it works.

[2017-04-01 11:34] #87 closed, assigned to nobody